@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}

.navbar-nav {
   font-family: "Inter", sans-serif;
}

.NavClr {
    color: #000;
    font-weight: 500;
}

/* hero section 2 styling */

.CustomP-14-400 {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #4D4D4D;

}

.CustomP-16-400 {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #4D4D4D;
}

.customBtn {
    font-family: "Inter", sans-serif;
    border: 1px solid #00A859;
    background-color: transparent;
    color: #00A859;
    width: 360px;
    height: 50px;
    font-size: 18px;
    font-weight: 600px;
    line-height: 30px;
}
.customBtn:hover {
    background-color: #00A859;
    color: #fff;
}

.cardtitle-Black {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #0F0B0B;
    font-size: 20px;
    line-height: 30px;
}

.cardHeader-black {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color:#0F0B0B;
    font-size: 64px;
    line-height: 100%;
}

/* hero section 3 styling */

.CustomGreenH1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #07AA07;
    font-size: 60px;
    line-height: 100%;
}
.Customorange {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #F58634;
    font-size: 65px;
    line-height: 100%;
}

/* hero section 3 styling ends here */

/* hero section 4 styling starts here  */
.hero4background {
    background-color: #EFFFE5;
}

.Hero4Btn {
    border: 2px solid #fff;
    border-radius: px;
    font-size: 13px;
    font-weight: 600;
    line-height: 100%;
    font-family: "Inter", sans-serif;
    color: #fff;
    width: 156px;
    height: 48px;
}

/* hero 4 styling ends here  */

/* hero 6 styling starts here  */
.hero6Image {
    width: 730px;
    height: 502px;
}






