@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}

.spin, .spin2 {
    display: none;
}

.row {
    margin: 0;
    padding: 0;
}

.loginBack {
    background: url(./images/Login/Left.png) no-repeat center center /cover;
    height: 100vh;
    
}




.form-pg{
    padding-right: 200px !important;
}

.logimg {
    width: 650px;
    height: 900px;
}

.login-text{
    font-family: "Roboto", sans-serif;
    color: #00A859 !important;
}

.sign-btn, .forget-btn {
    background: none;
    outline: none;
    border: none;
    color: #F58634;
    cursor: pointer;
}

.input-area{
    border-radius: none;
    border: none;
    border-bottom: 1px solid #E8ECEF;
}



::placeholder {
    color: #7C797A !important;
    font-family: "Inter", sans-serif !important;
}

.checkbox {
    width: 24px;
    height: 24px;
}

.forget-btn{
    color: #00A859;
}

.submit-btn {
    background: #00A859;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
   height:48px;
}

.signC {
    font-family: "Roboto", sans-serif;
    color: #00A859;
}
.signBtn {
    border: none;
    background: transparent;
    color: #F58634;
}
.newinput {
    border-radius: none !important;
    border: none !important;
    border-bottom: 1px solid #E8ECEF !important;
    width: 456px !important;
}




/* oAuth styling starts here  */

.err-bg {
    /* background: linear-gradient(90deg, #00A859, #f58634); */
    background: url(./images/backround.png);
}

.err-box {
    margin: 2% auto;
}

.err-box img {
    max-width: 100%;
}

.err-box h3 {
    font-weight: bolder;
    color: #00A859;
    font-size: 30px;
}

.err-box p {
    color: #f58634;
    font-size: 20px;
}

.err-btn {
    outline: none;
    box-shadow: rgb(90, 103, 115) 0px 20px 30px -10px;
    border: 0;
    padding: 10px 25px;
    background: #00A859;
    color: #fff;
    border-radius: 8px;
    font-size: 20px;
}

.mim {
    width: 5%;
}

.fourIMG {
    color: #00A859 !important;
}

.H1four {
    font-size: 350px;
    font-weight: bolder;
    color: #f58634;
}












 @media screen and (max-width: 600px) {
  
     .newinput{
    width: 100% !important;
    } 

    .IndexWidth {
    width:100 !important
}

    .logimg {
    width: 100%;
}

    .SBtn {
       width: 100% !important;
    } 

    .btnLOG {
        width: 100% !important;
    }
}  


 @media (min-width: 601px) and  (max-width : 900px) {
    .newinput{
    width: 100% !important;
    } 

     .SBtn {
       width: 100% !important;
    } 

    .logimg {
        width: 100% !important;
    }

      .btnLOG {
        width: 100% !important;
    }
 }





  @media (min-width: 901px) and  (max-width : 1200px) {
     .newinput{
    width: 100% !important;
    } 

     .SBtn {
       width: 100% !important;
    } 

    .logimg {
        width: 100%;
    }

      .btnLOG {
        width: 100% !important;
    }
  }
    
    














